body {
  background-color: #121212;
  min-height: 100vh;
  color: #ffffff;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  padding: 0 0.6rem;
  margin: 0.8rem 0.4rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
